<h2 class="content-subhead">Table of Contents</h2>

<% @chapters.each_with_index do |chapter, idx| %>
  <div class="pure-menu">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="/chapters/<%= idx + 1 %>" class="pure-menu-link"><%= chapter %></a>
      </li>
    </ul>
  </div>
<% end %>
