<!doctype HTML>
<html>
<head>
  <title><%= @title %></title>
</head>
<body>
  <%= yield %>
  <p>There are <%= @users.count %> users with a total of <%= @interest_count %> interests.</p>
</body>
</html>